*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#F8FAFC;
    color:#222;
}

.container{
    width:90%;
    max-width:900px;
    margin:50px auto;
    background:#fff;
    padding:40px;
    border-radius:18px;
    box-shadow:0 8px 25px rgba(0,0,0,.08);
}

.auth-box{
    max-width:850px;
}

.auth-title{
    font-size:58px;
    color:#014421;
    margin-bottom:40px;
    font-weight:bold;
}

.auth-subtitle{
    text-align:center;
    font-size:30px;
    margin-bottom:35px;
    color:#006B3F;
}

label{
    display:block;
    margin-top:18px;
    margin-bottom:8px;
    font-size:22px;
    font-weight:bold;
}

input,
textarea,
select{

    width:100%;

    padding:15px;

    border:1px solid #bbb;

    border-radius:8px;

    font-size:18px;

    outline:none;

    transition:.25s;

    box-sizing:border-box;

}

input:focus,
textarea:focus,
select:focus{

    border:2px solid #006B3F;

}

button,
.btn{

    display:inline-block;

    width:100%;

    margin-top:25px;

    padding:15px;

    background:#006B3F;

    color:white;

    border:none;

    border-radius:8px;

    font-size:20px;

    cursor:pointer;

    text-decoration:none;

    transition:.25s;

}

button:hover,
.btn:hover{

    background:#014421;

}

table{

    width:100%;

    border-collapse:collapse;

    margin-top:25px;

}

table,
th,
td{

    border:1px solid #ddd;

}

th{

    background:#006B3F;

    color:white;

}

th,
td{

    padding:14px;

    text-align:center;

}

.auth-footer{

    margin-top:30px;

    text-align:center;

}

.auth-footer p{

    margin-bottom:15px;

    font-size:18px;

}

.auth-footer a{

    width:auto;

    display:inline-block;

    padding:12px 30px;

}

.success{

    background:#d4edda;

    color:#155724;

    padding:12px;

    border-radius:8px;

    margin-bottom:20px;

}

.error{

    background:#ffe5e5;

    color:#b00020;

    padding:12px;

    border-radius:8px;

    margin-bottom:20px;

}

@media(max-width:768px){

.container{

width:95%;

padding:25px;

}

.auth-title{

font-size:38px;

}

.auth-subtitle{

font-size:26px;

}

}